workbench_access.settings:
  type: config_object
  label: 'Workbench Access settings'
  mapping:
    scheme:
      type: text
      label: 'Active access scheme.'
    parents:
      type: sequence
      label: 'Active access parents for a scheme.'
      sequence:
        type: string
        label: 'Parent'
    label:
      type: text
      label: 'Label shown to define a Workbench Access control group.'
    plural_label:
      type: text
      label: 'Label shown to define a set of Workbench Access control groups.'
    fields:
      type: sequence
      label: 'Fields that store access control data.'
      sequence:
        type: sequence
        label: 'Content type'
        sequence:
          type: string
          label: 'Field'

node.type.*.third_party.workbench_access:
  type: mapping
  label: 'Per-content type access control settings'
  mapping:
    workbench_access_status:
      type: boolean
      label: 'Workbench Access status'
